#sec1 {
    background-color: #B0E0E6;
    height: 500;
    align-items: center;
    display: flex;
    
    
    
}

#sec2 {
    background-color: #f5f5f5;
    height: 400;
    align-items: center;
    display: flex;
    
}

#sec3 {
    padding-top: 1%;
    background-color: #B0E0E6;
    height: 500;
    display: flex;

    
    
}

#card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

#img1 {
    height: 130;
    width: 130;
    padding: 0;
    position: absolute;
    top: 5px;
    right: 5px

}

a {
    color: inherit;
    text-decoration: none;
    text-align: center;
}

#img1 h4 {
    text-align: start;
}

#anchor {
    text-align: end;
}


/* #sec4 {
    height: 300;
    display: flex;
} */
