body {
  padding-top: 100px;
}

.nowrap {
  white-space: nowrap;
}

.slot {
  box-shadow: none !important;
}

.scroll {
  max-height: 200px;
  overflow-y: auto;
}

/* #schdl_section1 {
  display: block;
  overflow: auto;
} */
