body {
  padding-top: 100px;
}

.nowrap {
  white-space: nowrap;
}

.slot {
  box-shadow: none !important;
}

.scroll {
  max-height: 200px;
  overflow-y: auto;
}

.accordion-button {
  box-shadow: none !important;
}

.user-scroll {
  max-height: 350px;
  overflow-y: auto;
}

.pat-scroll {
  max-height: 250px;
  overflow-y: auto;
}

/* #schdl_section1 {
  display: block;
  overflow: auto;
} */

.img-thumbnail {
  padding: 0;
}

p {
  margin: 0;
}

textarea {
  height: 200px;
}

.star {
  color: orange;
}



.carousel-control-prev, .carousel-control-next{
  width: 2%;
}

.home_text {
  font-size: 50px;
}