<div id="patient_page" class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h1>Patient Details</h1>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <p>
                      <label class="fw-light" for="">Patient Name:</label>
                      <label id="pat_name" class="fs-5 m-2" for="">Anudeep Pala</label>
                    </p>
                    <p>
                      <label class="fw-light" for="">Patient Age:</label>
                      <label id="pat_age" class="fs-5 m-2" for="">27</label>
                    </p>
                    <p>
                      <label class="fw-light" for="">Patient Gender:</label>
                      <label id="pat_gen" class="fs-5 m-2" for="">Male</label>
                    </p>
                  </div>
                  <div class="col">
                    <p>
                      <label class="fw-light" for="">Insurance:</label>
                      <label id="pat_age" class="fs-5 m-2" for="">Aetna</label>
                    </p>
                    <p>
                      <label class="fw-light" for="">Occupation:</label>
                      <label
                        id="pat_age"
                        class="fs-5 m-2"
                        for=""
                      >Student</label>
                    </p>
                    <p>
                      <label class="fw-light" for="">Phone Number:</label>
                      <label
                        id="appt_time"
                        class="fs-5 m-2"
                        for=""
                      >5512634145</label>
                    </p>
                  </div>
                  <div class="col">
                    <p>
                      <label class="fw-light" for="">Account Name:</label>
                      <label id="pat_name" class="fs-5 m-2" for="">Anudeep Pala</label>
                    </p>
                    <p>
                      <label class="fw-light" for="">Total Visits:</label>
                      <label id="pat_age" class="fs-5 m-2" for="">2</label>
                    </p>
                    <p>
                      <label class="fw-light" for="">Last Visit:</label>
                      <label id="appt_time" class="fs-5 m-2" for="">April 30,
                        19:00</label>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-4">
      <div class="card card-body">
        <a class="dropdown-item p-0" href="">
          <div class="card-body border text-center">
            <h3>Create Appointment</h3>
          </div>
        </a>
        <div id="new_apptmnts" class="pat-scroll">
          <a class="dropdown-item p-0" href="">
            <div class="card-body border">
              <p class="">Anudeep Pala</p>
              <p class="small text-muted">27 Male</p>
              <p class="small mt-2">April 29th 11:30 PM</p>
            </div>
          </a>
          <a class="dropdown-item p-0" href="">
            <div class="card-body border">
              <p class="">Anudeep Pala</p>
              <p class="small text-muted">27 Male</p>
              <p class="small mt-2">April 29th 11:30 PM</p>
            </div>
          </a>
          <a class="dropdown-item p-0" href="">
            <div class="card-body border">
              <p class="">Anudeep Pala</p>
              <p class="small text-muted">27 Male</p>
              <p class="small mt-2">April 29th 11:30 PM</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-body h-100">

      </div>
    </div>
  </div>
</div>